body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 1 rem = 16 px */

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
  /* to occupy whole screen */
}

.products {
  display: flex;
  flex-wrap: wrap; /* if there is no space in row new item will be pushed to the new line*/
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 330px;
}

.product-info {
  padding: 1rem;
}
